.md-header {
    /* background: var(--md-primary-fg-color) url(https://5e.tools/img/book/AAG/001-00-001.wildspace-splash.webp) left center/cover no-repeat; */
    background: var(--md-primary-fg-color) url(/assets/meta/lich-factory-banner.png) left bottom/cover no-repeat;
}

.md-header__title {
    font-family: "Cinzel Decorative";
}

.md-typeset h1,h2,h3 {
    font-family: "Cinzel Decorative";
}

.md-typeset details.wiki,
.md-typeset .admonition.wiki {
    border-color: transparent;
    background-color: transparent;
}

.md-typeset details.wiki,
.md-typeset .admonition.wiki {
    border-color: transparent;
    background-color: transparent;
}

.md-typeset .wiki>.admonition-title,
.md-typeset .wiki>.summary {
    display: none;
}

.md-typeset .wiki>.admonition-title::before {
    background-color: transparent;
    -webkit-mask-image: var(--md-admonition-icon--grid);
    mask-image: var(--md-admonition-icon--grid);
}

.admonition.wiki {
    float: left;
    margin-right: 0.8rem;
    margin-top: 0;
    width: 11.7rem;
}

.admonition.wiki h1 {
    text-align: center;
    padding-top: 0.5em;
    margin-bottom: 0;
}

.admonition.wiki thead {
    display: none;
}

.admonition.wiki td:first-child {
    font-weight: 600;
}

.admonition.wiki table {
    border: 0;
}
